<?xml version="1.0"?>
<configuration>

    <connectionStrings>
        <add name="TestSQLInjectionDBConnectionString" connectionString="Data Source=.;Initial Catalog=TestSQLInjectionDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web >
        <compilation debug="true" targetFramework="4.0" />
      <httpRuntime requestValidationMode="2.0" />
    </system.web>

  </configuration>
